
     <% #binding.pry %>
    <% if Helpers.current_user(session) && Helpers.is_logged_in?(session) %> 
      <% binding.pry %>
          <h1>Welcome <%= @user.username %></h1>
          <h3>Your Balance: <%= @user.balance %></h3>
    <% end %>
    <br>
    <a href='/logout'>Log Out</a>