<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <a href="/logout">Log Out</a>
    binding.pry
    <% if self.is_logged_in? %>
    	<p>Username: <%= self.current_user.username %></p><br>
    	<p>Account Balance: <%= self.current_user.balance %></p><br>
    <% else %>
    	<p>You Must <a href="/">Log In</a> to View Your Balance</p><br>
    <% end %>
  </body>
</html>